* text=auto eol=lf

*.cs diff=csharp text
*.cginc text
*.shader text
*.uxml text
*.uss text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicsMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

*.db binary
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.wav binary
